<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Create new pin</title>
    <link rel="stylesheet" href="/stylesheets/createPin.css" />
  </head>
  <body>
    <header>Create Pin</header>
    <form
      action="/upload"
      method="post"
      enctype="multipart/form-data"
      class="container"
    >
      <div class="left">
        <div>
          <input type="file" id="fileInput" accept="image/*" name="file" required />
          <label id="fileLabel" for="fileInput">
            <div class="image_box">Click here to choose a file</div>
          </label>
        </div>
        <div id="prevImgBox">
            <img id="preview-image" src="" alt="Selected image preview" />
        </div>
      </div>
      <div class="right">
        <label for="title">Title</label>
        <input type="text" id="title" name="fileCaption" placeholder="Add a title" required>
        <label for="title">Description</label>
        <textarea id="description" name="description" placeholder="Add a detailed description" required></textarea>
        <label for="title">Link</label>
        <input type="text" id="link" name="link" placeholder="Add a link" required>
        <button type="submit">Create Pin</button>
      </div>
    </form>
  </body>
  <script>
    const fileInput = document.querySelector("#fileInput");
    const img = document.querySelector("img");
    fileInput.addEventListener("change", (e) => {
      const file = e.target.files[0];
      if (file) {
        const reader = new FileReader();
        reader.onload = function (event) {
          img.src = event.target.result;
        };
        reader.readAsDataURL(file);
        document.querySelector('label').style.display = 'none'
    }
    });
  </script>
</html>
